* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;    
    -webkit-user-select: none;
    user-select: none;
    font-size: 14px;
}

body {
    border-top: 1px solid #ccc;
}

input {
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #000;
    border-style: solid;
}

button {
    padding: 5px 10px;
    border: 1px solid #333;
    background-color: #ccc;
    border-radius: 2px;
    cursor: pointer;
    transition: all ease-in-out .1s;
}

button:hover {
    background-color: rgb(225, 225, 225);
}

button:active {
    transform: scale(0.92);
}


input.invalid {
    border-color: rgb(251, 78, 78);
    color: rgb(251, 78, 78);
}
input.invalid+label {
    color: rgb(251, 78, 78);
}

input[type='text'] {
    width: 90%;
}
input[type='number'] {
    width: 30px;
}

input[type='radio'] {
    margin-bottom: 10px;
}

.user_input {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.absolute_input input:disabled, .absolute_input input:disabled + label {
    background-color: #ccc;
}

.margin_top {
    margin-top: 10px;
}

.body h3 {
    font-size: 20px;
    font-weight: 500;
}

.absolute_input label {
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    position: absolute;
    pointer-events: none;
    transition: all ease .3s;
    background-color: white;
    color: rgb(76, 76, 76);
}

.absolute_input input {
    transition: all ease .3s;
}

.absolute_input {
    position: relative;
    margin-top: 5px;
}

.absolute_input input:focus+label, .absolute_input>input:valid+label {
    top: 0;
    font-size: 12px;
}

/* toggle button */

/* Style for the toggle button */
.toggle-button {
    position: relative;
    display: inline-block;
    width: 30px; /* Độ rộng của toggle button */
    height: 14px; /* Chiều cao của toggle button */
}

/* Style for the slider (the button) */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 14px; /* Độ cong của toggle button */
}

/* Change the appearance of the slider when it's checked (on) */
.slider:before {
    position: absolute;
    content: "";
    height: 10px; /* Chiều cao của nút trượt */
    width: 10px; /* Độ rộng của nút trượt */
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* Ẩn checkbox */
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

input[type="checkbox"]:checked + .slider {
    background-color: #2196F3;
}

input[type="checkbox"]:checked + .slider:before {
    transform: translateX(16px); /* Di chuyển nút trượt khi toggle bật */
}



/* line */
.horizontalLine {
    display: flex;
    align-items: center;
    width: 550px;
    border: 1px solid #999;
    margin: 20px 0;
}

/* none display */
.none {
    display: none;
}

.text_overflow {
    max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}