.body {
    position: relative;
}

.body .body_config{
    transition: all ease .3s;
    height: 100%;
    border-right: 2px solid #ccc;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;
    color: rgb(47, 47, 47);
    background-color: white;
}

.body_config.open {
    min-width: 300px;
}

.body_config {
    max-width: 30px;
    z-index: 5;
}

.body_config .body_config_header h3 {
    display: none;
}

.body_config.open .body_config_header h3 {
    display: block;
}

.body_config.open>div {
    display: flex;
}

.body_config.open .body_config_main {
    display: flex;
}
.body_config .body_config_main {
    display: none;
}

.body_config_main {
    flex-direction: column;
    justify-content: space-between;
}

.body_config--action {
    width: 30px;
    height: 30px;
    transition: all ease .3s;
    cursor: pointer;
    text-align: center;
}

.body_config--action i {
    font-size: 24px;
}

.body_config--action.close:hover {
    color: rgb(138, 11, 11);
}

.body_config--action.open:hover {
    color: rgb(5, 168, 78);
}

.body_config .body_config_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
}

.body_config>h3 {
    margin-bottom: 10px;
}

.margin_top {
    margin-top: 10px;
}

.body_config--save {
    width: 100%;
    margin-top: 50px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body_config_advance_btn {
    color :rgb(83, 95, 230);
    cursor: pointer;
    font-weight: 500;
}

.body_config_advance_btn:hover {
    opacity: .7;
}

/* end body config */

/* start main body */
.main_body{
    position: relative;
    left: 50px;
    top: 0;
    padding: 10px;
    width: calc(100% - 70px);
    height: 100%;
    overflow: hidden;
}

.program_action_wrapper_wrapper {
    display: flex;
    flex-direction: column;
}

.program_action_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}

.program_action_wrapper_wrapper input {
    padding-right: 10px;
}

.program_action_wrapper_wrapper .margin_top {
    margin-top: 10px;
}

.program_action {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.run_program:hover {
    background-color: rgb(57, 200, 57);
    color: white;
}

.stop_program:hover {
    background-color: rgb(215, 65, 51);
    color: white;
}

.program_action {
    background-color: white;
}
.run_program {
    border-color: rgb(57, 200, 57);
    color: rgb(57, 200, 57);
}

.stop_program {
    border-color: rgb(215, 65, 51);
    color: rgb(215, 65, 51);
}

.blur {
    position:  absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #333;
    opacity: .7;
    z-index: 1;
}

.blur.none {
    display: none;
}

.main_body--action {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* table css */

.main_body_table_wrapper {
    width: 100%;
    margin-top: 10px;
}

.account_table_wrapper {
    width: 100%;
    height: calc(calc(25px * 15));
    overflow-y: scroll;
}

.main_body_table_wrapper .account_table {
    width: 100%;
    border: 1px solid #ccc;
}

.table_wrapper_header {
    height: 25px;
    padding-bottom: 10px;
}

.main_body_table_wrapper .account_table tr{
    height: 25px;
    cursor: pointer;
    transition: all ease .2s;
}


.main_body_table_wrapper .account_table tr td{
    text-align: center;
}

.account_table tr:hover {
    background-color: rgb(10, 221, 158);
}
.account_table tr.row_selected {
    background-color: rgb(10, 221, 158);
}

.none_account_image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: center;
}

.none_account_image_wrapper {
    background-color: transparent !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px ;
}

.none_account_image_wrapper h3 {
    margin-top: 10px;
}

.disabled_row {
    background-color: transparent !important;
}

/* end table css */

/* end main body */

