* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 14px;
}

body {
    border-top: 1px solid #ccc;
}

input {
    padding: 5px;
}

button {
    padding: 5px 10px;
    border: 1px solid #333;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out .1s;
}

button:hover {
    background-color: rgb(225, 225, 225);
}

button:active {
    transform: scale(0.92);
}


.user_input {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.absolute_input input:disabled, .absolute_input input:disabled + label {
    background-color: #ccc;
}


input[type='text'] {
    width: 90%;
}
input[type='number'] {
    width: 30px;
}

input[type='radio'] {
    margin-bottom: 10px;
}

.body {
    position: relative;
}

.body .body_config{
    transition: all ease .3s;
    height: 100%;
    border-right: 2px solid #ccc;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;
    color: rgb(47, 47, 47);
    background-color: white;
}

.body_config.open {
    min-width: 300px;
}

.body_config {
    max-width: 30px;
    z-index: 5;
}

.body_config .body_config_header h3 {
    display: none;
}

.body_config.open .body_config_header h3 {
    display: block;
}

.body_config.open>div {
    display: flex;
}

.body_config.open .body_config_main {
    display: flex;
}
.body_config .body_config_main {
    display: none;
}

.body_config_main {
    flex-direction: column;
    justify-content: space-between;
}

.body_config--action {
    width: 30px;
    height: 30px;
    transition: all ease .3s;
    cursor: pointer;
    text-align: center;
}

.body_config--action i {
    font-size: 24px;
}

.body_config--action.close:hover {
    color: rgb(138, 11, 11);
}

.body_config--action.open:hover {
    color: rgb(5, 168, 78);
}

.body_config .body_config_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
}

.body h3 {
    font-size: 20px;
    font-weight: 500;
}

.absolute_input label {
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    position: absolute;
    pointer-events: none;
    transition: all ease .3s;
    background-color: white;
}

.absolute_input input {
    transition: all ease .3s;
}

.absolute_input {
    position: relative;
    margin-top: 5px;
}

.absolute_input input:focus+label, .absolute_input>input:valid+label {
    top: 0;
    font-size: 12px;
}

.body_config>h3 {
    margin-bottom: 10px;
}

.margin_top {
    margin-top: 10px;
}

.body_config--save {
    margin-top: 50px;
    align-self: center;
}

/* end body config */

/* start main body */
.main_body{
    position: relative;
    left: 50px;
    top: 0;
    padding: 10px;
    width: calc(100% - 70px);
    height: 100%;
    overflow: hidden;
}

.blur {
    position:  absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #333;
    opacity: .7;
    z-index: 1;
}

.blur.none {
    display: none;
}

.main_body--action {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* table css */

.main_body_table_wrapper {
    width: 100%;
    margin-top: 20px;
}

.main_body_table_wrapper .account_table {
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 10px;
    height: calc(25px * 15);
}

.main_body_table_wrapper .account_table tr{
    max-height: 25px;
}

.main_body_table_wrapper .account_table tr td{
    text-align: center;
}

/* end table css */

/* end main body */

